@model SBO.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="large-6 columns">
        <h3>Login</h3>

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
                    
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            
            <input type="submit" value="Log in" />
        }

        <p>Haven't created an account yet? @Html.ActionLink("Create One!", "Register", "Account") </p>
    </div>
    <div class="large-6 columns">
        
        
    </div>
</div>

