@model SBO.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="large-6 columns">
        <h3>Login</h3>

        <p>
            Login to your website using the form below. If you don't have a website yet 
             @Html.ActionLink("Create One Now!", "Register", "Account") 
        </p>

        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
                    
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)

            @Html.CheckBoxFor(m => m.RememberMe) <text>Remember Me?</text>
            
            <p>
                <input type="submit" value="Log in" class="button radius" />
            </p>
        }

        
        

        
    </div>
    <div class="large-6 columns">
        
        
    </div>
</div>

