@model UserProfileBO
@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="large-6 columns">
        <h3>Contact Information</h3>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)

            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)

            @Html.LabelFor(m => m.Phone)
            @Html.TextBoxFor(m => m.Phone)
            @Html.ValidationMessageFor(m => m.Phone)

            <p>
                <input type="submit" value="Update" class="button radius success" />
            </p>
            <div class="Message">
                @ViewBag.Message
            </div>
        }
    </div>
    <div class="large-6 columns">
        <h3>Billing Address</h3>
        
        <label>Attention</label>
        <input type="text" />

        <label>Address 1</label>
        <input type="text" />

        <label>Address 2</label>
        <input type="text" />

        <label>City</label>
        <input type="text" />

        <label>State</label>
        <select><option>State</option></select>

        <label>Zip Code</label>
        <input type="text" />

        <p>
            <input type="submit" value="Update" class="button radius success" />
        </p>
    </div>
</div>

