@{
    ViewBag.Title = "Service";
    ViewBag.Heading = "Services";
}

<div class="hide-for-medium-down">
    <p>&nbsp;</p>
</div>

<div class="row">

    <div class="large-4 columns">

        <h4><img src="@Url.Content("~/Images/icons/Server.png")" /> Hosting</h4>
        <p>
            As the developers of @Html.ActionLink("Trailer PRO", "Index", "Product") we have 
            the knowledge and experience to keep your website running in top condition. For a
            complete list of hosting services visit our @Html.ActionLink("pricing page", "Index", "Pricing").
            <h5>SBO Hosting Advantages</h5>
            <ul class="smallPoint">
                <li>Content and Data Backups</li>
                <li>Email</li>
                <li>Domain Name</li>
                <li>Email & Phone Support</li>
                <li>Software Upgrades</li>
            </ul>
        </p>
        <hr class="hide-for-medium-up" />
    </div>

    <div class="large-4 columns">
        <h4><img src="@Url.Content("~/Images/icons/HandShake.png")" /> Social</h4>
        <p>
            Social Media is one of the most cost-effective means of reaching your customers. We are here to
            help develop a social media marketing plan that is right for you. 
            
            
        </p>
        <img src="@Url.Content("~/Images/icons/SocialIcons.png")" />
        <hr class="hide-for-medium-up" />
    </div>

    <div class="large-4 columns">
        <h4><img src="@Url.Content("~/Images/icons/Computer.png")" /> Custom</h4>
        <p>
            We have a wide range of experience creating custom software solutions for 
            private corporations and government agencies. Please @Html.ActionLink("contact us", "Inext", "Contact")
            for a bid on your next project.
        </p>
        <h5>Software Development</h5>
        <ul class="smallPoint">
            <li>Microsoft VB & C#</li>
            <li>SQL Server and Oracle</li>
            <li>Service Oriented Architecture</li>
            <li>Document Management</li>
            <li>Workflow Automation</li>
        </ul>
        <hr class="hide-for-medium-up" />
    </div>

</div>

<div class="hide-for-medium-down">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>